<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form  th:object="${user}" th:action="@{/register/}" method="post">
                    <div class="pannel-group">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h1 class="panel-title">Register User:</h1>
                            </div>
                        </div>
                        <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3 form-group">
                                        <label>Username:</label>
                                        <input type="text" class="form-control" th:field="*{username}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group">
                                        <label>Password:</label>
                                        <input type="text" class="form-control" th:field="*{password}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group">
                                        <label>Confirm Password:</label>
                                        <input type="text" class="form-control" th:field="*{confirm}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group">
                                        <label>Email:</label>
                                        <input type="text" class="form-control" th:field="*{email}"/>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
