<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <form  th:object="${search}" th:action="@{/search/}" method="post">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 form-group">
                    <label>Search Keyword:</label>
                    <input type="text" class="form-control" th:field="*{description}"/>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>