<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
    <form  th:object="${searchObject}" method="post">
        <div class="panel-body">
                <div class="col-md-3 form-group">
                    <label style="color: black; font-family: Tahoma; font-size: larger;">Search Keyword:
                    <input type="text" class="form-control" th:field="*{description}"/>
                    <span th:errors="*{description}" class="error" style="color: red;"></span>
                    </label>
                    <br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
        </div>
    </form>
</body>
</html>